<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kapanlaginetwork.johnharman" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- main -->
        <activity
            android:name=".Main.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Main.Kapanlagi"
            android:label="@string/title_activity_kapanlagi"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Main.Merdeka"
            android:label="@string/title_activity_merdeka"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Main.Bola"
            android:label="@string/title_activity_bola"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <!-- |||||||||||||||||||||||||||||||||||KAPANLAGI|||||||||||||||||||||||||||||||| -->
        <activity
            android:name=".DrawerKapanlagi.MenuKapanlagi.KapanlagiAllNews"
            android:label="@string/title_activity_kapanlagi_all_news"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Kapanlagi" />
        </activity>
        <activity
            android:name=".DrawerKapanlagi.MenuKapanlagi.KapanlagiTopNews"
            android:label="@string/title_activity_kapanlagi_top_news"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Kapanlagi" />
        </activity>
        <activity
            android:name=".DrawerKapanlagi.MenuKapanlagi.KapanlagiFoto"
            android:label="@string/title_activity_kapanlagi_foto"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Kapanlagi" />
        </activity>
        <activity
            android:name=".DrawerKapanlagi.KategoriKapanlagi.KapanlagiSelebriti"
            android:label="@string/title_activity_kapanlagi_selebriti"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Kapanlagi" />
        </activity>
        <activity
            android:name=".DrawerKapanlagi.KategoriKapanlagi.KapanlagiHollywood"
            android:label="@string/title_activity_kapanlagi_hollywood"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Kapanlagi" />
        </activity>
        <activity
            android:name=".DrawerKapanlagi.KategoriKapanlagi.KapanlagiFilm"
            android:label="@string/title_activity_kapanlagi_film"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Kapanlagi" />
        </activity>
        <activity
            android:name=".DrawerKapanlagi.KategoriKapanlagi.KapanlagiMusic"
            android:label="@string/title_activity_kapanlagi_music"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Kapanlagi" />
        </activity>
        <activity
            android:name=".DrawerKapanlagi.KategoriKapanlagi.KapanlagiAsianStar"
            android:label="@string/title_activity_kapanlagi_asian"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Kapanlagi" />
        </activity>
        <activity
            android:name=".DrawerKapanlagi.KategoriKapanlagi.KapanlagiBollywood"
            android:label="@string/title_activity_kapanlagi_bollywood"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Kapanlagi" />
        </activity>
        <activity
            android:name=".DrawerKapanlagi.KategoriKapanlagi.KapanlagiPlus"
            android:label="@string/title_activity_kapanlagi_kapanlagi_plus"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Kapanlagi" />
        </activity>
        <activity
            android:name=".DrawerKapanlagi.KategoriKapanlagi.KapanlagiLifestyle"
            android:label="@string/title_activity_kapanlagi_lifestyle"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Kapanlagi" />
        </activity>

        <!-- |||||||||||||||||||||||||||||||||||MERDEKA|||||||||||||||||||||||||||||||| -->
        <activity
            android:name=".DrawerMerdeka.KategoriMerdeka.MerdekaPeristiwa"
            android:label="@string/title_activity_merdeka_peristiwa"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>
        <activity
            android:name=".DrawerMerdeka.KategoriMerdeka.MerdekaPolitik"
            android:label="@string/title_activity_merdeka_politik"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>
        <activity
            android:name=".DrawerMerdeka.KategoriMerdeka.MerdekaJakarta"
            android:label="@string/title_activity_merdeka_jakarta"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>
        <activity
            android:name=".DrawerMerdeka.KategoriMerdeka.MerdekaUang"
            android:label="@string/title_activity_merdeka_uang"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>
        <activity
            android:name=".DrawerMerdeka.KategoriMerdeka.MerdekaDunia"
            android:label="@string/title_activity_merdeka_dunia"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>
        <activity
            android:name=".DrawerMerdeka.KategoriMerdeka.MerdekaKhas"
            android:label="@string/title_activity_merdeka_khas"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>
        <activity
            android:name=".DrawerMerdeka.KategoriMerdeka.MerdekaGaya"
            android:label="@string/title_activity_merdeka_gaya"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>
        <activity
            android:name=".DrawerMerdeka.KategoriMerdeka.MerdekaArtis"
            android:label="@string/title_activity_merdeka_artis"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>
        <activity
            android:name=".DrawerMerdeka.KategoriMerdeka.MerdekaOlahraga"
            android:label="@string/title_activity_merdeka_olahraga"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>
        <activity
            android:name=".DrawerMerdeka.KategoriMerdeka.MerdekaSepakbola"
            android:label="@string/title_activity_merdeka_sepakbola"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>
        <activity
            android:name=".DrawerMerdeka.KategoriMerdeka.MerdekaTegnologi"
            android:label="@string/title_activity_merdeka_tegnologi"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>
        <activity
            android:name=".DrawerMerdeka.KategoriMerdeka.MerdekaSehat"
            android:label="@string/title_activity_merdeka_sehat"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>
        <activity
            android:name=".DrawerMerdeka.KategoriMerdeka.MerdekaOtomotif"
            android:label="@string/title_activity_merdeka_otomotif"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>
        <activity
            android:name=".DrawerMerdeka.MenuMerdeka.Merdeka_All_News"
            android:label="@string/title_activity_merdeka_all_news"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>
        <activity
            android:name=".DrawerMerdeka.MenuMerdeka.Merdeka_Top_News"
            android:label="@string/title_activity_merdeka_top_news"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>
        <activity
            android:name=".DrawerMerdeka.MenuMerdeka.Merdeka_Foto"
            android:label="@string/title_activity_merdeka_foto"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>
        <activity
            android:name=".DrawerMerdeka.Lain2_Merdeka.MerdekaPengaturan"
            android:label="@string/title_activity_merdeka_pengaturan"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>
        <activity
            android:name=".DrawerMerdeka.Lain2_Merdeka.MerdekaHakCipta"
            android:label="@string/title_activity_merdeka_hak_cipta"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>
        <activity
            android:name=".DrawerMerdeka.Lain2_Merdeka.MerdekaTentangKami"
            android:label="@string/title_activity_merdeka_tentang_kami"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>
        <activity
            android:name=".DrawerMerdeka.Lain2_Merdeka.MerdekaRating"
            android:label="@string/title_activity_merdeka_rating"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Merdeka" />
        </activity>

        <!-- |||||||||||||||||||||||||||||||||||BOLANET|||||||||||||||||||||||||||||||| -->

        <activity
            android:name=".DrawerBola.MenuBola.BolaBerita"
            android:label="@string/title_activity_bola_berita"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Bola" />
        </activity>
        <activity
            android:name=".DrawerBola.MenuBola.BolaJadwal"
            android:label="@string/title_activity_bola_jadwal"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Bola" />
        </activity>
        <activity
            android:name=".DrawerBola.MenuBola.BolaSkor"
            android:label="@string/title_activity_bola_skor"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Bola" />
        </activity>
        <activity
            android:name=".DrawerBola.MenuBola.BolaKlasemen"
            android:label="@string/title_activity_bola_klasemen"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Bola" />
        </activity>
        <activity
            android:name=".DrawerBola.KategoriBola.BolaTerkini"
            android:label="@string/title_activity_bola_terkini"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Bola" />
        </activity>
        <activity
            android:name=".DrawerBola.KategoriBola.BolaMostViewed"
            android:label="@string/title_activity_bola_most_viewed"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Bola" />
        </activity>
        <activity
            android:name=".DrawerBola.KategoriBola.BolaLigaPremierIngrris"
            android:label="@string/title_activity_bola_liga_premier_ingrris"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Bola" />
        </activity>
        <activity
            android:name=".DrawerBola.KategoriBola.BolaLigaItaliaSeriA"
            android:label="@string/title_activity_bola_liga_italia_seri_a"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Bola" />
        </activity>
        <activity
            android:name=".DrawerBola.KategoriBola.BolaLaLigaSpanyol"
            android:label="@string/title_activity_bola_la_liga_spanyol"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Bola" />
        </activity>
        <activity
            android:name=".DrawerBola.KategoriBola.BolaLigaChampions"
            android:label="@string/title_activity_bola_liga_champions"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Bola" />
        </activity>
        <activity
            android:name=".DrawerBola.KategoriBola.BolaLigaEropa"
            android:label="@string/title_activity_bola_liga_eropa"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Bola" />
        </activity>
        <activity
            android:name=".DrawerBola.KategoriBola.BolaPialaDunia"
            android:label="@string/title_activity_bola_piala_dunia"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Bola" />
        </activity>
        <activity
            android:name=".DrawerBola.KategoriBola.BolaLigaIndonesia"
            android:label="@string/title_activity_bola_liga_indonesia"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.Bola" />
        </activity>

        <!--
        <activity
            android:name=".Main.Brilio"
            android:label="@string/title_activity_brilio"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Main.Fimela"
            android:label="@string/title_activity_fimela"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        -->

        <activity
            android:name=".DrawerFimela.MenuFimela.FimelaHome"
            android:label="@string/title_activity_fimela__home"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DrawerFimela.MenuFimela.FimelaNews"
            android:label="@string/title_activity_fimela_news"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DrawerFimela.MenuFimela.FimelaFashion"
            android:label="@string/title_activity_fimela_fashion"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DrawerFimela.MenuFimela.FimelaLifestyle"
            android:label="@string/title_activity_fimela_lifestyle"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DrawerFimela.MenuFimela.FimelaBeauty"
            android:label="@string/title_activity_fimela_beauty"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".DrawerFimela.MenuFimela.FimelaTravel"
            android:label="@string/title_activity_fimela_travel"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Main.Otosia"
            android:label="@string/title_activity_otosia"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
